*{
    box-sizing: border-box;
}


.productdisplay{
    display: flex;
    margin:0px 55px;
    margin-top: -3px;
    margin-bottom: 87px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}

.productdisplay-main-img{
   
    width:570px;
    height: 570px;
}
.productdisplay-right{
    margin: 78px 90px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: -23px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-price{
    display: flex;
    margin: 6px 0px;
    gap: 15px;
    font-size: 22px;
    font-weight: 600;
}
.productdisplay-right-price-old{
    columns: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: red;
}
.productdisplay-right button{
    padding: 20px 20px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background:#ff4141 ;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 25px;
    margin-bottom: 20px;
    
}
.productdisplay-right-description{
    margin-top: 10px;
    margin-bottom: 10px;
}
.productdisplay-right-catogory{
    margin-top: 10px;

}
.productdisplay-right-catogory span{
    font-weight: 600;
}
.producdisplay-img-list{
    display: flex;
    margin-top: 7px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
    gap: 40px;
    cursor: pointer;
   


}

.summa1{
    margin-left: 8px;
    display: flex;
}

